<ion-header>
  <ion-toolbar>
    <ion-title>Discover</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding>
    <ion-grid>
      <ion-row>
        <ion-col size ="12" size-sm="8" offset-sm="2" text-center>
          <ion-card>
            <ion-card-header>
              <ion-card-title>{{ loadedBeer[0].title}}</ion-card-title>
              <ion-card-subtitle>{{ loadedBeer[0].price | currency }} / 6-Pack</ion-card-subtitle>
            </ion-card-header>
            <ion-img [src]="loadedBeer[0].imageUrl"></ion-img>
            <ion-card-content>
              <p>{{ loadedBeer[0].description }}</p>
            </ion-card-content>
            <div>
              <ion-button 
              fill="clear" 
              color="primary"
              routerDirection="forward"
              [routerLink]="[
                '/', 
                'beer', 
                'tabs', 
                'discover', 
                loadedBeer[0].id
                ]">
                More
              </ion-button>
            </div>
          </ion-card>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col size ="12" size-sm="8" offset-sm="2" text-center>
          <ion-list>
            <ion-item 
            *ngFor="let beer of loadedBeer.slice(1)" 
            [routerLink]="
              ['/', 
              'beer', 
              'tabs', 
              'discover', 
              beer.id]"
              detail>
              <ion-thumbnail slot="start">
                <ion-img [src]="beer.imageUrl"></ion-img>
              </ion-thumbnail>
              <ion-label>
                <h2>{{ beer.title }}</h2>
                <p>{{ beer.description }}</p>
              </ion-label>
            </ion-item>
          </ion-list>
        </ion-col>
      </ion-row>
    </ion-grid>
</ion-content>
