<ion-header>
  <ion-toolbar>
    <ion-title>{{ tappedBeer.title }}</ion-title>
    <ion-buttons slot="primary">
      <ion-button (click)="onCancel()">
        <ion-icon name="close"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content text-center padding>
  <form>
  <ion-grid>
    <ion-row>
      <ion-col size-sm="6" offset-sm="3">
        <ion-item>
          <ion-label position="floating">Name</ion-label>
          <ion-input type="text" ngModel name="name" required></ion-input>
        </ion-item>
      </ion-col>
    </ion-row>
    <ion-row>
        <ion-col size-sm="6" offset-sm="3">
          <ion-item>
            <ion-label position="floating">State</ion-label>
            <ion-select name="state">
              <ion-select-option value="Washington">Washington</ion-select-option>
              <ion-select-option value="California">California</ion-select-option>
              <ion-select-option value="Oregon">Oregon</ion-select-option>
              <ion-select-option value="Idaho">Idaho</ion-select-option>
            </ion-select>
          </ion-item>
        </ion-col>
      </ion-row>
  </ion-grid>
</form>
  <ion-button color="primary" (click)="onTapBeer()">Tap</ion-button>
</ion-content>